body{
	margin:0px;
	padding:0px;
	overflow:hidden;
	background:transparent;
}

*{
	font-family: 'DOSVGA437','DOSVGA437Moder','VonwaonBitmap16','宋体','微软雅黑';
	font-size:16px;
}

@font-face{
	font-family: DOSVGA437;
	font-display:swap;
	src: url('font/Perfect DOS VGA 437.woff.edit.ttf'),
	url('font/Perfect DOS VGA 437.woff.edit.ttf');
	unicode-range:U+00-52F, U+1E00-1FFF, U+2200-22FF;
}
@font-face{
	font-family: DOSVGA437Moder;
	font-display:swap;
	src: url('font/Moder DOS 437 Win.ttf'),
	url('font/Moder DOS 437 Win.ttf');
}
@font-face{
	font-family: VonwaonBitmap16;
	font-display:swap;
	src: url('font/VonwaonBitmap-16px.ttf'),
	url('font/VonwaonBitmap-16px.ttf');
}
@font-face{
	font-family: LCD;
	font-display:swap;
	src: url('font/LCDAT&TPhoneTimeDate.ttf'),
	url('font/LCDAT&TPhoneTimeDate.ttf');
}

.mainFrame{
	position: fixed;
	top:0px;
	left:0px;
	width:1024px;
	height:1024px;
	border:1px solid #F00;
}

.tapeFrame{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:512px;
	height:320px;
	margin:auto;
	background:#808080;
}
.tapeMain{
	transform-origin:0 0;
	transform: scale(0.5);
}

audio{
	position:fixed;
	top:10px;
	left:10px;
	width:300px;
}

.vu{
	width:100px;
	height:32px;
	background:#0F0;
}
.vu.l{
	background:#FF0;
}

.screen{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:-512px;
	width:256px;
	height:calc(18px * 4);
	margin:auto;
	background:#000;
	color:#FFF;
	line-height:20px;
}

.screen .container{
	width:100%;
	overflow:hidden;
	white-space: nowrap;
}

.container.texture{
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-size:auto;
	background-position:left top;
	background-image:url('screen-texture.png');
}

.container.musicTime{
	/* text-align: center; */
}

#musicTime{
	font-family: 'LCD';
	font-size:32px;
	font-weight:light;
	font-style:italic;
	line-height:32px;
}