.tapeBody{
	position:absolute;
	top:0px;
	left:0px;
	width:1024px;
	height:640px;
}

.tapeBody.reverse{
	transform:rotate(180deg);
}

.tapeBase, .tapeBaseProcess{
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image:url('tape-body.png');
	backdrop-filter: blur(5px);
	-webkit-mask-size: cover;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-image: url('tape-body-mask.png');
}
.tapeBaseProcess{
	background-image:url('tape-body-process.png');
	-webkit-mask:none;
	backdrop-filter:none;
}
.tapeBase.reverse{
	background-image:url('tape-body-reverse.png');
}

.tapeRoll{
	position:absolute;
	top: 36px;
	width:512px;
	height:512px;
}
.tapeRoll.left{
    left: 44px;
}
.tapeRoll.right{
    left: 468px;
}


.tapeVolume, .tapeMaterial{
	position:absolute;
	top:0px;
	right:0px;
	width:512px;
	height:512px;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('tape-volume.png');
}
.tapeMaterial{
	background-image: url('tape-material.png');
}

.tapeGear, .tapeGearMachine{
	position:absolute;
	top:192px;
	left:192px;
	width:128px;
	height:128px;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('tape-gear.png');
}
.tapeGearMachine{
	background-image: url('tape-machine.png');
}

.tapeCover{
	position:absolute;
	top:52px;
	left:52px;
	right:52px;
	height:418px;
	background:transparent;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-mask-size: cover;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-image: url('tape-cover-mask.png');
}

.tapeCover.text{
	background:rgba(255,255,255,0.8);
	backdrop-filter: blur(20px) saturate(2) brightness(1.2);
}
.tapeCoverText{
	position:absolute;
	left:0px;
	right:0px;
	width:100%;
	height:160px;
	padding-left:10%;
	padding-right:10%;
	text-align:center;
	font-size:32px;
	background:transparent;
	border:none;
	outline:none;
	pointer-events: none;
}

.rotate, .scale{
	transition:transform 0.1s ease;
}

/* @keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */